@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/pixolde');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pixolde', sans-serif;
}

html,
body {
    /* display: grid; */
    height: 100vh;
    width: 100%;
    place-items: center;
    background: #d2d8db;
}

.nav__container {
    height: 45px;
    padding: 5px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 20px;
    box-shadow: 0 2px 10px rgb(75, 17, 109);
    background-color: rgb(75, 17, 109);
}

.nav {
    display: flex;
    align-items: flex-start;
}

.navbar-brand {
    display: inline-block;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1rem;
    font-size: 1.1rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav__logo {
    padding: 5px 0;
    position: relative;
    margin-right: 10px;
    width: 2rem;
    height: 2.4rem;
    background-size: cover;
    border-radius: 0px;
    z-index: 1;
    overflow: hidden;
}

.nav__list {
    list-style: none;
    display: flex;
    column-gap: 20px;
}

.nav__item {
    vertical-align: middle;
    /*margin-top: 1px;*/
}

.nav__link {
    font-size: 0.8rem;
    /*margin-top: 4px;*/
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

.nav__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    color: #fff;
}

.card {
    display: inline-flex;
    flex-direction: row;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0.4em rgb(112, 112, 112);
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/39/Pokeball.PNG");
    background-repeat: no-repeat;
    background-position: center;
    width: 280px;
    height: 280px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: #fff;
}

.card:hover {
    background-color: rgb(164, 103, 199);
}

.stock-alert {
    border: 2.5px solid rgb(5, 4, 5);
}

.row {
    justify-content: space-evenly;
    padding: 10px;
}

.cart {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0.4em rgb(112, 112, 112);
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/39/Pokeball.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1%;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    margin: 10px;
    color: #fff;
}

.cart:hover {
    background-color: rgb(164, 103, 199);
}

.singlePoke {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1%;
    align-items: center;
    justify-content: center;
}

.bigImg {
    width: 180px;
    height: 180px;
}

.types {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.typesSingle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.typeBtn {
    margin: 5px;
}

.textLink {
    color: #fff;
    font-family: 'pixolde', sans-serif;
}